.terrorist {
  .pin {
    background: rgba(229, 199, 145, 0.5);
    .content {
      background: rgba(229, 199, 145, 0.8);
    }

    &:hover {
      background: rgba(229, 199, 145, 0.8);
      .content {
        background: rgba(229, 199, 145, 1);
      }
    }
  }
}

.counter-terrorist {
  .pin {
    background: rgba(121, 161, 229, 0.5);
    .content {
      background: rgba(121, 161, 229, 0.8);
    }

    &:hover {
      background: rgba(121, 161, 229, 0.8);
      .content {
        background: rgba(121, 161, 229, 1);
      }
    }
  }
}

.terrorist,
.counter-terrorist {
  .pin {
    &.active {
      background: rgba(22, 163, 74, 0.5);
      .content {
        background: #16a34a;
      }
    }
  }
}

.zoom-img {
  &:hover {
    zoom: 200%;
  }
}
