.ct {
  .pin {
    background: rgba(121, 161, 229, 0.5);
    > div {
      background: rgba(121, 161, 229, 0.9);
    }
  }
}
.t {
  .pin {
    background: rgba(229, 199, 145, 0.5);
    .content {
      background: rgba(229, 199, 145, 0.8);
    }

    &:hover {

      background: rgba(229, 199, 145, 0.7);
      .content {
        background: rgba(229, 199, 145, 1);
      }
    }
  }

}

.zoom-img {
  &:hover {
    zoom: 200%;
  }
}
